@charset "UTF-8";
/* 関数宣言 */
/* 全体レイアウト */
html {
  font-size: 62.5%;
}

body {
  max-width: 1200px;
  min-width: 500px;
  margin: 0 auto;
  padding: 0;
  background-color: #e2f3ff;
}

section {
  margin: 0 auto;
}

.container {
  background-color: white;
}

/* ヘッダー */
header {
  background-color: white;
  padding-top: 20px;
}

header .header_area,
header .icon_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .logo_area {
  width: 195px;
}

header .text_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
}

header .text_area p {
  margin: 0 1rem;
  font-size: 1.2rem;
}

header .text_area a {
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 1rem;
}

header .icon_area {
  margin-left: auto;
  width: 400px;
}

header .icon_area .icon {
  width: 20%;
  text-align: center;
  border-left: 1px solid #e6e6e6;
}

header .icon_area .icon:nth-of-type(5) {
  border-right: 1px solid #e6e6e6;
}

header .icon_area .icon p {
  margin: 0.5rem 0 0;
  font-size: 1.1rem;
}

header .icon_area .icon img {
  display: inline;
}

header .nav_accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 1.6rem;
}

header .nav_accordion nav {
  width: 100%;
}

header .nav_accordion .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0;
  margin: 0;
}

header .nav_accordion .item .has_sub:nth-of-type(1) > a {
  border-top-left-radius: 1rem;
  background-color: #007fc3;
}

header .nav_accordion .item .has_sub:nth-of-type(4) > a {
  border-top-right-radius: 1rem;
  background-color: #007fc3;
}

header .nav_accordion .item .has_sub {
  position: relative;
  list-style: none;
  width: 25%;
  line-height: 4.6rem;
  text-align: center;
}

header .nav_accordion .item .has_sub:not(:first-child) {
  border-left: 1px solid white;
}

header .nav_accordion .item .has_sub > a {
  display: block;
  color: white;
  font-size: 1.6rem;
  background-color: #007fc3;
  text-decoration: none;
}

header .nav_accordion .item .has_sub .sub {
  overflow: hidden;
  position: absolute;
  top: 4.6rem;
  left: 0;
  width: 100%;
  max-height: 0;
  z-index: 3;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  background-color: white;
  list-style: none;
  text-align: left;
  padding: 0;
  text-indent: 1.6rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

header .nav_accordion .item .has_sub .sub li:hover {
  opacity: 0.5;
  background-color: #e2f3ff;
}

header .nav_accordion .item .has_sub .sub li a {
  font-size: 1.2rem;
  color: #007fc3;
  line-height: 4.6rem;
  text-decoration: none;
  display: block;
}

header .nav_accordion .item .has_sub .sub.active {
  max-height: 18.4rem;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

header .nav_accordion .item .has_sub .sub li .arrow {
  position: relative;
  display: block;
  width: 10%;
}

header .nav_accordion .item .has_sub .sub li .arrow::after {
  content: '';
  width: 7px;
  height: 7px;
  border: 0px;
  border-top: solid 1px #007fc3;
  border-right: solid 1px #007fc3;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -28px;
  left: 228px;
}

header .pc_header_area {
  display: none;
}

header .bg_menu {
  display: none;
}

@media (max-width: 1024px) {
  header {
    position: relative;
  }
  header .header_area {
    display: none;
  }
  header .pc_header_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    height: 60px;
    padding: 0.5rem 0;
  }
  header .pc_header_area .icon_area_right,
  header .pc_header_area .icon_area_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0.5rem;
  }
  header .pc_header_area .logo_area {
    width: 75px;
  }
  header .pc_header_area .logo_area img {
    width: 75px;
  }
  header .pc_header_area .icon {
    text-align: center;
    margin: 0 0.3rem;
    width: 50px;
  }
  header .pc_header_area .icon img, header .pc_header_area .icon p {
    display: inline;
  }
  header .pc_header_area .menu {
    position: relative;
    height: 20px;
    width: 28px;
    height: 39px;
    width: 50px;
    display: inline-block;
    cursor: pointer;
  }
  header .pc_header_area .menu span {
    position: absolute;
    height: 2px;
    width: 28px;
    left: 10px;
    background-color: #007fc3;
    border-radius: 2px;
    display: inline-block;
  }
  header .pc_header_area .menu span:nth-of-type(1) {
    top: 0;
    bottom: 20px;
  }
  header .pc_header_area .menu span:nth-of-type(2) {
    top: 10px;
    bottom: 10px;
  }
  header .pc_header_area .menu span:nth-of-type(3) {
    top: 20px;
    bottom: 0;
  }
  header .pc_header_area .menu p {
    padding-top: 9px;
    display: inline-block;
  }
  header .bg_menu.active {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 4;
    padding-top: 100px;
    text-align: center;
    font-size: 4.8rem;
  }
  header .bg_menu {
    display: none;
  }
  header .nav_accordion {
    display: none;
  }
  .no-scroll {
    overflow: hidden;
  }
  .mainvisual {
    margin-top: 40px;
  }
}

/* メインビジュアル */
.mainvisual .image_area {
  max-width: 1200px;
}

.mainvisual .image_area h1 {
  margin: 0;
}

.mainvisual .image_area h1 img {
  max-width: 100%;
  height: auto;
}

.contents {
  margin: 0 auto;
}

/* 動画クリエイティブ */
.creative .ttl_area {
  margin: 0 auto;
  max-width: 1040px;
}

.creative .ttl_area .tittle {
  text-align: center;
  background-color: #e2f3ff;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  padding: 3.2rem 0;
  margin: 4.8rem 2.4rem;
}

.creative .ttl_area .tittle h2 {
  margin: 0;
  color: #007fc3;
  font-size: 3.2rem;
}

.creative .slider_area {
  max-width: 1200px;
  margin: 7rem 0 10rem;
}

.creative .slider_area img {
  padding: 0;
  width: 100%;
  height: auto;
}

/* インタビュー */
.interview .tittle {
  text-align: center;
  background-color: #e2f3ff;
  max-width: 1040px;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  padding: 3.2rem 0;
  margin: 4.8rem auto;
}

.interview .tittle h2 {
  margin: 0;
  color: #007fc3;
  font-size: 3.2rem;
}

.interview .tittle .br_tab {
  display: none;
}

@media (max-width: 680px) {
  .interview .tittle h2 {
    line-height: 3.2rem;
  }
  .interview .tittle .br_tab {
    display: block;
  }
}

.interview_area {
  padding: 0 2.4rem;
  max-width: 760px;
  margin: 7rem auto 10rem;
}

.interview_area article h3 {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.interview_area .start, .interview_area .finish {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 5.6rem;
}

.interview_area .doda {
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: 3.2rem;
}

.interview_area .doda span {
  font-weight: bold;
}

.interview_area .hayashi {
  color: #007fc3;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 6.4rem;
}

.interview_area .hayashi span {
  background-color: #e2f3ff;
}

/* サービス */
.service .tittle {
  text-align: center;
  background-color: #e2f3ff;
  max-width: 1040px;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  padding: 3.2rem 0;
  margin: 4.8rem auto;
}

.service .tittle h2 {
  margin: 0;
  color: #007fc3;
  font-size: 3.2rem;
}

.service .service_contents {
  padding: 0 2.4rem;
}

.service .service_contents .service_area {
  max-width: 1040px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service .service_contents .service_area a {
  text-decoration: none;
}

.service .service_contents .service_area a:hover {
  -webkit-text-decoration: underline solid #007fc3 auto;
          text-decoration: underline solid #007fc3 auto;
}

.service .service_contents .service_area .service_nav {
  width: 500px;
  min-width: 350px;
  height: 118px;
  border: 1px solid #007fc3;
  border-radius: 8rem;
  margin-top: 5.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service .service_contents .service_area .service_nav:nth-child(even) {
  margin-left: 40px;
}

@media (max-width: 1090px) {
  .service .service_contents .service_area .service_nav:nth-child(even) {
    margin-left: 0px;
  }
}

.service .service_contents .service_area .service_nav .img_area {
  width: 30%;
  height: 100%;
  margin-left: -0.7rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.service .service_contents .service_area .service_nav .nav_01 {
  background-image: url(../img/nav_01.png);
}

.service .service_contents .service_area .service_nav .nav_02 {
  background-image: url(../img/nav_02.png);
}

.service .service_contents .service_area .service_nav .nav_03 {
  background-image: url(../img/nav_03.png);
}

.service .service_contents .service_area .service_nav .nav_04 {
  background-image: url(../img/nav_04.png);
}

.service .service_contents .service_area .service_nav .text_area {
  font-size: 1.8rem;
  margin-left: 2rem;
  width: 60%;
}

.service .service_contents .service_area .service_nav .text_area p {
  margin: 0;
  color: #007fc3;
}

.service .service_contents .service_area .service_nav .text_area span {
  font-size: 1.4rem;
  line-height: 2.8rem;
}

.service .service_contents .service_area .service_nav .arrow {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  width: 10%;
}

.service .service_contents .service_area .service_nav .arrow::before {
  content: '';
  width: 20px;
  height: 20px;
  border: 0px;
  border-top: solid 1px #007fc3;
  border-right: solid 1px #007fc3;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: -10px;
  margin-top: -8px;
}

/* コンテンツフッター */
.contents_footer {
  max-width: 1200px;
  margin: 0 2.4rem;
  padding: 0 2.4rem 5rem;
}

.contents_footer .change_now {
  max-width: 1040px;
  background-color: #e2f3ff;
  border: 1px solid #e2f3ff;
  border-radius: 2rem;
  -webkit-box-shadow: 1.6rem 1.6rem #007fc3;
          box-shadow: 1.6rem 1.6rem #007fc3;
  margin: 15rem auto 3rem;
  padding: 7rem 0 5rem;
}

.contents_footer .change_now h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #007fc3;
}

.contents_footer .change_now a {
  text-align: center;
  font-size: 1.8rem;
  color: white;
  display: block;
  border-radius: 5rem;
  background-color: #007fc3;
  padding: 2.4rem;
  margin: 4rem auto 2rem;
  max-width: 550px;
  text-decoration: none;
}

.contents_footer .change_now a:hover {
  text-decoration: underline;
}

/* フッター */
footer {
  height: 300px;
}

/* タブレットサイズのタイトルサイズ */
@media (max-width: 680px) {
  * .tittle {
    padding: 24px 0 !important;
    margin: 24px 0 !important;
  }
  * .tittle h2 {
    font-size: 24px !important;
  }
}
/*# sourceMappingURL=style.css.map */