@charset "UTF-8";
/* 関数宣言 */
/* 個別スタイル */
.header_wrapper .logo_area {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 15;
  width: 150px;
  text-align: center;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media (max-width: 680px) {
  .header_wrapper .logo_area {
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    background-color: #fff;
    height: 50px;
    z-index: 23;
  }
}

.header_wrapper .logo_area.fixed {
  top: 0;
  left: 0;
  padding-left: 3%;
  width: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 680px) {
  .header_wrapper .logo_area.fixed {
    padding-left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
  }
}

.header_wrapper .logo_area.fixed img.logo_pc {
  width: 85px;
  height: auto;
}

.header_wrapper a {
  display: inline-block;
}

.header_wrapper a img.logo_pc {
  width: 100%;
  height: auto;
  display: inline-block;
}

@media (max-width: 680px) {
  .header_wrapper a img.logo_pc {
    display: none;
  }
}

.header_wrapper a img.logo_sp {
  display: none;
}

@media (max-width: 680px) {
  .header_wrapper a img.logo_sp {
    display: inline-block;
    width: 100%;
    height: 44px;
    margin-top: 3px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

/* purpose */
.purpose_area {
  padding-top: 10rem;
}

.purpose_area h2 span {
  position: relative;
  text-align: center;
}

.purpose_area h2 span::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/icon_about.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-position: center center;
}

.purpose_area .sub_ttl {
  margin-bottom: 6rem;
}

@media (max-width: 680px) {
  .purpose_area .sub_ttl {
    margin-bottom: 7rem;
  }
}

/* keyword */
.kw_contents {
  width: 100%;
  margin: 1.5rem auto;
}

.kw_contents > p {
  font-size: 1.6rem;
  text-align: center;
  margin: 1.5rem 0;
}

.kw_contents .kw_accordion_nav {
  width: 90%;
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 680px) {
  .kw_contents .kw_accordion_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
    margin: 0 2.5%;
  }
}

.kw_contents .kw_accordion_nav .kw_accordion {
  width: 48%;
  margin: 1%;
}

@media (max-width: 680px) {
  .kw_contents .kw_accordion_nav .kw_accordion {
    width: 100%;
  }
}

.kw_contents .kw_accordion_nav .kw_accordion.wide {
  width: 100%;
}

.kw_contents .kw_accordion_nav .kw_accordion.wide .r_arrow span::after {
  left: 40.6%;
}

@media (max-width: 680px) {
  .kw_contents .kw_accordion_nav .kw_accordion.wide .r_arrow span::after {
    left: auto;
    right: 30px;
  }
}

.kw_contents .kw_accordion_nav .kw_accordion.active .r_arrow {
  border-bottom: 0.5px solid #ffdcf2;
}

.kw_contents .kw_accordion_nav .kw_accordion.active .r_arrow::after {
  top: 13px;
  left: 40.5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

@media (max-width: 680px) {
  .kw_contents .kw_accordion_nav .kw_accordion.active .r_arrow::after {
    left: auto;
    right: 29px;
  }
}

.kw_contents .kw_accordion_nav .kw_accordion .r_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}

.kw_contents .kw_accordion_nav .kw_accordion .r_arrow::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 36px;
  padding-right: 0.7rem;
  border-left: 5px solid #ffdcf2;
}

.kw_contents .kw_accordion_nav .kw_accordion .r_arrow::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 15px;
  left: 40.2%;
}

@media (max-width: 680px) {
  .kw_contents .kw_accordion_nav .kw_accordion .r_arrow::after {
    left: auto;
    right: 30px;
  }
}

.kw_contents .kw_accordion_nav .kw_accordion .r_arrow span {
  font-size: 1.4rem;
}

.kw_contents .kw_accordion_nav .kw_accordion .r_arrow span::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 41%;
  background-color: #ffdcf2;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

@media (max-width: 680px) {
  .kw_contents .kw_accordion_nav .kw_accordion .r_arrow span::after {
    left: auto;
    right: 30px;
  }
}

.kw_contents .kw_accordion_nav .kw_accordion_list {
  display: none;
  margin: 2.5%;
}

.kw_contents .kw_accordion_nav .kw_accordion_list.active {
  display: block;
}

.kw_contents .kw_accordion_nav .kw_accordion_list .kw_content_area {
  max-height: 0;
}

.kw_contents .kw_accordion_nav .kw_accordion_list.active .kw_content_area {
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: visible;
  max-height: 1080px;
  background-color: #fff;
  width: 100%;
}
/*# sourceMappingURL=about.css.map */