@charset "utf-8";

/* 関数宣言 */

$pink: #ffdcf2;
$grey: #d8d8d8;
$black: #333;

$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px; // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

/* 共通スタイル */

.mr_area{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 10rem 0 6rem;
}

.modelroute {
  background-color: #fef4fad0;
}

/* ヘッダー */

.header_wrapper {
  .logo_area {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 15;
    width: 150px;
    text-align: center;
    transition: 0.7s;
    @include tab {
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: #fff;
      height: 50px;
      z-index: 23;
    }
    &.fixed {
      top: 0;
      left: 0;
      padding-left: 3%;
      width: auto;
      transition: 0.5s;
      @include tab {
        padding-left: 0;
        width: 100%;
        height: 50px;
        background: #fff;
      }
      img.logo_pc {
        width: 85px;
        height: auto;
      }
    }
  }
  a {
    display: inline-block;
    img.logo_pc {
      width: 100%;
      height: auto;
      display: inline-block;
      @include tab {
        display: none;
      }
    }
    img.logo_sp {
      display: none;
      @include tab {
        display: inline-block;
        width: 100%;
        height: 44px;
        margin-top: 3px;
        object-fit: contain;
      }
    }
  }
}

/* モデルルート */
.mr_area{
  padding-top: 10rem;
  h2 {
    span{
    position: relative;
    text-align: center;
      &::before{
        content: "";
        display: block;
        position: absolute;
        background-image: url(../img/icon_modelroute.svg);
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        left: 50%;
        top: 60px;
        transform: translateX(-50%);
        background-position: center center;
      }
    }
  }
  .sub_ttl{
    margin-bottom: 6rem;
    @include tab{
      margin-bottom: 7rem;
    }
  }
  .mr_contents {
    .mr_content {
      &.wide {
        @include tab {
          margin-bottom: 1.25% !important;
        }
      }
      &.small {
        @include tab {
          width: calc(92.5% / 2);
          flex-direction: column;
          padding: 0;
          margin: 1.25% 0;
        }
        &:nth-of-type(2) {
          @include tab {
            margin: 0;
          }
        }
        &:nth-of-type(3) {
          @include tab {
            margin-right: 0;
          }
        }
        &:nth-of-type(4) {
          @include tab {
            display: block !important;
          }
        }
        &:nth-of-type(even) {
          @include tab {
            margin: 1.25% 2.5% !important;
          }
        }
        &:nth-of-type(odd) {
          @include tab {
            margin: 1.25% 2.5% 1.25% 0;
          }
        }
      }
      .text_area{
        .ttl > span{
          @include sp{
            display: none;
          }
        }
      }
    }
  }
}
