@charset "UTF-8";
/* 関数宣言 */
/* 共通スタイル */
.sample {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 6rem 0;
}

/* ヘッダー */
.header_wrapper .logo_area {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 15;
  width: 150px;
  text-align: center;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media (max-width: 680px) {
  .header_wrapper .logo_area {
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    background-color: #fff;
    height: 50px;
    z-index: 23;
  }
}

.header_wrapper .logo_area.fixed {
  top: 0;
  left: 0;
  padding-left: 3%;
  width: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 680px) {
  .header_wrapper .logo_area.fixed {
    padding-left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
  }
}

.header_wrapper .logo_area.fixed img.logo_pc {
  width: 85px;
  height: auto;
}

.header_wrapper a {
  display: inline-block;
}

.header_wrapper a img.logo_pc {
  width: 100%;
  height: auto;
  display: inline-block;
}

@media (max-width: 680px) {
  .header_wrapper a img.logo_pc {
    display: none;
  }
}

.header_wrapper a img.logo_sp {
  display: none;
}

@media (max-width: 680px) {
  .header_wrapper a img.logo_sp {
    display: inline-block;
    width: 100%;
    height: 44px;
    margin-top: 3px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

/* sample */
.sample {
  margin-top: 50px;
  background-color: #fef4fad0;
}

.sample .sample_area {
  margin: 0 auto;
}

.sample .sample_area .img_area {
  max-height: 600px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  padding: 3rem;
}

.sample .sample_area .img_area img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

.sample .sample_area .text_area {
  padding: 1rem;
  margin: 3rem;
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.6rem;
  width: 100%;
}

.sample .sample_area .text_area .spot_name {
  text-align: center;
}

.sample .sample_area .text_area .spot_name > p {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1.1;
}

.sample .sample_area .text_area .spot_name small {
  font-size: 1rem;
}

.sample .sample_area .text_area .info dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fef4fad0;
  margin-top: 2rem;
}

.sample .sample_area .text_area .info dt::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 36px;
  padding-right: 0.7rem;
  border-left: 5px solid #ffdcf2;
}

.sample .sample_area .text_area .info dd {
  padding: 0 2rem 2rem;
}

.sample .sample_area .text_area .info_table {
  text-align: left;
}

.sample .sample_area .text_area .info_table tr {
  line-height: 1.6;
}

.sample .sample_area .text_area .info_table th {
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fef4fad0;
  margin-top: 2rem;
}

.sample .sample_area .text_area .info_table th::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 36px;
  padding-right: 0.7rem;
  border-left: 5px solid #ffdcf2;
}

.sample .sample_area .text_area .info_table td {
  padding: 0 2rem 1rem;
  width: 100%;
}
/*# sourceMappingURL=spotsample.css.map */