body {
  background-color: #fbfae9;
  width: 1920px;
}

.container {
  width: 1920px;
}

/* --- header --- */

header {
  background-color: #0e67cc;
  height: 195px;
  width: 1920px;
  /* position: relative; */
}

header .header-wrapper {
  display: flex;
}

header .top-color {
  height: 179px;
  width: 1536px;
  /* position: absolute; */
  /* top: 16px; */
  display: flex;
  margin-top: 16px;
  background-color: #fbfae9;
}

header img.logo {
  height: 83px;
  width: 535px;
  /* position: absolute; */
  /* top: 16px; */
  margin: 67px 0 0 60px;
}

header .nav-bar {
  width: 900px;
  margin: auto auto;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  text-align: center;
  font-size: 20px;
  justify-content: space-around;
  padding: 5px 0;
}

header nav ul li::before {
  content: "";
  border-left: 1px solid #707070;
  height: 54px;
  padding-right: 5px;
}

header nav ul li:last-child::after {
  content: "";
  border-right: 1px solid #707070;
  border-right: 1px solid linear-gradient(to top, #fbfae9 20%, #707070 100%);
  height: 100px;
  padding-left: 5px;
}

header nav ul li a {
  text-decoration: none;
}

header nav ul li span {
  font-size: 14px;
}

header .info {
  color: white;
  text-align: center;
  width: 386px;
  margin-top: 10px;
}

header .info > p:first-child {
  font-size: 39px;
  font-weight: bold;
  margin-bottom: 10px;
}

header .info > p + p {
  margin-top: 5px;
}

header .info .info-link {
  display: flex;
  justify-content: space-evenly;
}

header .info-link a {
  text-decoration: none;
  font-size: 18px;
  color: #0e67cc;
  display: block;
  border-radius: 15px;
  border: #0e67cc;
  background-color: white;
  padding: 5px 20px;
}

/* --- slider --- */

.slider {
  width: 1920px;
  height: 645px;
}

.slider .slider-area {
  margin-top: 100px;
}

.slider .slider-area .slider-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.slider .slider-area .slider-wrapper span {
  color: #707070;
  font-size: 40px;
  vertical-align: middle;
  text-align: center;
  padding: 8px 16px;
  border-radius: 50%;
  border: 1px solid #707070;
}

/* --- pr --- */

.pr {
  width: 1920px;
  height: 900px;
  position: relative;
}

.pr .pr-container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 1920px;
  height: 520px;
  padding-top: 200px;
}

.pr .pr-container h1 {
  font-size: 35px;
  color: #543618;
  line-height: 1.4em;
}

.pr .pr-text p {
  margin: 40px;
  font-size: 20px;
  color: #543618;
  line-height: 1.8em;
}

.pr .pr_boy {
  background-image: url("../img/pr_boy.png");
  background-repeat: no-repeat;
  width: 204px;
  height: 254px;
  position: absolute;
  top: 10px;
  left: 266px;
}

.pr .pr_bear1 {
  background-image: url("../img/pr_bear1.png");
  background-repeat: no-repeat;
  width: 120px;
  height: 170px;
  position: absolute;
  top: 220px;
  left: 37px;
}

.pr .pr_play {
  background-image: url("../img/pr_play.png");
  background-repeat: no-repeat;
  width: 302px;
  height: 352px;
  position: absolute;
  top: 360px;
  left: 168px;
}

.pr .pr_draw {
  background-image: url("../img/pr_draw.png");
  background-repeat: no-repeat;
  width: 204px;
  height: 254px;
  position: absolute;
  top: 10px;
  right: 266px;
}

.pr .pr_bear2 {
  background-image: url("../img/pr_bear2.png");
  background-repeat: no-repeat;
  width: 106px;
  height: 166px;
  position: absolute;
  top: 220px;
  right: 37px;
}

.pr .pr_girl {
  background-image: url("../img/pr_girl.png");
  background-repeat: no-repeat;
  width: 315px;
  height: 365px;
  position: absolute;
  top: 360px;
  right: 168px;
}

/* --- description --- */

.description {
  width: 1920px;
  height: 1600px;
  background-color: #fffff5;
  position: relative;
}

.des-deco-top {
  width: 1920px;
  height: 220px;
  background-image: url(../img/body_top.png);
  position: absolute;
  top: -100px;
  margin-bottom: 100px;
}

.des-deco-bottom {
  width: 1920px;
  height: 220px;
  background-image: url(../img/body_bottom.png);
  margin-top: -100px;
}

.des-container {
  width: 1400px;
  height: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 200px;
}

.des-wrapper {
  width: 580px;
  height: 500px;
  margin: 10px;
}

.des-img {
  width: 580px;
  height: 275px;
}

.des-text-wrapper {
  width: 580px;
  height: 225px;
}

.des-text-wrapper h1 {
  width: fit-content;
  height: 1.4em;
  line-height: 1.4em;
  font-size: 23px;
  font-weight: normal;
  border-bottom: 1px solid #f5d100;
}

.des-text {
  font-size: 20px;
  line-height: 1.5em;
}

.des-link {
  text-align: right;
}

.des-link > a {
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  padding: 5px 20px;
  display: inline-block;
  width: 263px;
  height: 27px;
  border: 1px solid #f5d100;
  border-radius: 19px;
  box-shadow: 1px 3px 0.5px #f5d100;
}

.des-nav {
  display: flex;
  justify-content: space-evenly;
  margin: 100px auto;
  width: 1400px;
  height: 170px;
}

/* --- news --- */

.news {
  width: 1920px;
  height: 700px;
  margin-top: 350px;
}

.news h1 {
  font-size: 35px;
  font-weight: normal;
  color: #1874bb;
  text-align: center;
}

.news h1 span {
  font-size: 20px;
}

.news-container {
  margin: 0 auto;
  width: 1920px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news .news-wrapper {
  width: 274px;
  height: 377px;
  background-color: white;
  margin: 0 15px;
}

.news .news-wrapper img {
  width: 237px;
  height: 42px;
  margin: 20px 10px;
}

/* --- access --- */

.access {
  width: 1920px;
  height: 600px;
  background-color: white;
  padding-top: 100px;
}

.access-container {
  margin: 0 auto;
  width: 1400px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.access .map-area {
  width: 570px;
  height: 411px;
  margin: 70px 20px 0 0;
}

.access .access-text-area {
  margin-left: 20px;
}

.access .access-text-area img {
  margin-bottom: 20px;
}

.access .access-text-area p {
  font-size: 16px;
  line-height: 1.2em;
}

.access .access-text-area p .red {
  font-size: 44px;
  color: #ea5442;
}

.access .access-text-area a {
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  padding: 5px 15px;
  display: inline-block;
  width: 263px;
  height: 27px;
  border: 1px solid #f5d100;
  border-radius: 19px;
  box-shadow: 1px 3px 0.5px #f5d100;
}

.access .access-text-area p:nth-of-type(3) {
  font-size: 25px;
}

.access .access-text-area p:nth-of-type(4) {
  font-size: 17px;
}

/* --- footer --- */

footer {
  width: 1920px;
  height: 177px;
  background-color: #0e67cc;
  color: white;
}

footer .footer-nav-bar {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

footer nav ul li {
  font-size: 20px;
  display: inline-block;
  list-style: none;
  text-align: center;
}

footer nav ul li::before {
  content: "";
  border-left: 1px solid white;
  margin: 0 30px;
}

footer nav ul li:last-child::after {
  content: "";
  border-right: 1px solid white;
  margin: 0 30px;
}

footer nav ul li a {
  text-decoration: none;
  color: white;
}

footer small {
  text-align: center;
  display: block;
  margin: 20px auto;
}
